<p>All games:</p>
<br>
<div class="columns is-multiline">
    <% @video_games.each do |vg| %>
    <div class="column is-one-quarter">
        <div>
        <%= image_tag("video_games/#{vg.name.gsub(/\s+/, "")}.png", :alt => "#{vg.name}", :size => "300")%>
        </div>
        <div>
        <%= link_to "#{vg.name} - (#{vg.platform.name} )", vg %>
        </div>
    </div>
    <% end %>
</div>