<p class="mb-5">
    Found <%= pluralize(@developers.count, 'developer') %> when searching for: <%= params[:keywords] %>
</p>
<div class="columns is-multiline">
    <% @developers.each do |d| %>
    <div class="column is-one-quarter">
        <div>
        <%= link_to "#{d.name}", d %>
        </div>
    </div>
    <% end %>
</div>