<% content_for(:html_title) {@developer.name}%>
<h4 class="subtitle is-4">Games developed by <%= @developer.name%>:</h4>

<ul>
    <% @developer.video_games.each do |vg| %>
    <li>
        <p><%= link_to "#{vg.name} - (#{vg.platform.name} )", vg %></p>
    </li>
    <% end %>
</ul>