<% content_for(:html_title) {@developer.name}%>
<br>
<h4 class="subtitle is-4">Games developed by <%= @developer.name%>:</h4>

<div class="columns is-multiline">
    <% @developer.video_games.each do |vg| %>
        <div class="column is-one-quarter">
            <div>
                <%= image_tag("#{vg.name}.png", :alt => "#{vg.name}", :size => "300")%>
            </div>
            <div>
                <%= link_to "#{vg.name} - (#{vg.platform.name} )", vg %>
            </div>
        </div>
    <% end %>
</div>