<h1><%= @platform.name %></h1>

<p>Games available on <%= @platform.name%>:</p>

<ul>
    <% @platform.video_games.each do |vg| %>
    <li>
        <p><%= link_to vg.name, vg%></p>
    </li>
    <% end %>
</ul>