<% content_for(:html_title) {@platform.name}%>
<br>
<h4 class="subtitle is-4">Games available on <%= @platform.name%>:</h4>

<div class="columns is-multiline">
    <% @platform.video_games.each do |vg| %>
        <div class="column is-one-quarter">
            <div>
                <%= image_tag("video_games/#{vg.name.gsub(/\s+/, "")}.png", :alt => "#{vg.name}", :size => "300")%>
            </div>
            <div>
                <%= link_to "#{vg.name} - (#{vg.platform.name} )", vg %>
            </div>
        </div>
    <% end %>
</div>

<a href="/platforms"><b>Return to all platforms</b></a>