<% content_for(:html_title) {"Publishers"}%>
<p>All publishers:</p>
<br>
<div class="columns is-multiline">
    <% @publishers.each do |p| %>
    <div class="column is-one-quarter">
        <div>
        <%= link_to "#{p.name}", p %>
        </div>
    </div>
    <% end %>
</div>

