<% content_for(:html_title) {@publisher.name}%>
<br>
<h4 class="subtitle is-4">Games published by <%= @publisher.name%>:</h4>

<div class="columns is-multiline">
    <% @publisher.video_games.each do |vg| %>
        <div class="column is-one-quarter">
            <div>
                <%= image_tag("video_games/#{vg.name}.png", :alt => "#{vg.name}", :size => "300")%>
            </div>
            <div>
                <%= link_to "#{vg.name} - (#{vg.platform.name} )", vg %>
            </div>
        </div>
    <% end %>
</div>

<a href="/publishers"><b>Return to all publishers</b></a>