<% content_for(:html_title) {@publisher.name}%>
<h4 class="subtitle is-4">Games published by <%= @publisher.name%>:</h4>

<ul>
    <% @publisher.video_games.each do |vg| %>
    <li>
        <p><%= link_to "#{vg.name} (#{vg.platform.name} )", vg %></p>
    </li>
    <% end %>
</ul>