<nav class="navbar">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/about">About</a>
            <a class="navbar-item" href="/video_games">Video Games</a>
            <a class="navbar-item" href="/developers">Developers</a>
            <a class="navbar-item" href="/publishers">Publishers</a>
            <a class="navbar-item" href="/platforms">Platforms</a>
        </div>
    </div>
</nav>